.Body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin: 0 auto;
  text-align: center;
  height: inherit;
}
.header {
  background-color: rgb(255, 196, 0);
  text-align: center;
  min-height: 10vh;
  padding: 2em;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 28, 248);
  height: 100vh;
}
